/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0B0062;
    color: white;
    text-align: center;
}

/* Header */
header nav {
    background-color: #0B0062;
    padding: 15px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main content */
main {
    padding: 30px 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Team section */
.team {
    margin: 20px 0;
}

.team h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.member {
     position: static;  overflow: clip;  max-width: 80%;  border-top-left-radius: 20px;  border-top-right-radius: 20px;  border-bottom-left-radius: 20px;  border-bottom-right-radius: 20px;  box-shadow: 0 4px 24px 0 hsla(214.83870967741936, 17.32%, 64.90%, 0.08);
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.member h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.member p {
    font-size: 1em;
}

/* Tech stack section */
.container {
    width: 100%;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container:medium {
    max-width: 728px;
  }
  
  .container:tiny {
    max-width: none;
  }

.clients-wrapper {
  display: flex;
  max-width: 750px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.clients-wrapper:small {
  margin-bottom: -20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.clients-image {
    max-width: 20%;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: hsla(0, 0.00%, 100.00%, 1.00);
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: hsla(0, 0.00%, 100.00%, 1.00);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: hsla(0, 0.00%, 100.00%, 1.00);
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: hsla(0, 0.00%, 100.00%, 1.00);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
    font-size: 3px;
  }
  
  .clients-image:small {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  
  .clients-image:tiny {
    margin-right: 10px;
    margin-left: 10px;
  }

/* Footer */
footer {
    background-color: #1B0F7C;
    padding: 20px;
}

footer p {
    font-size: 1.2em;
}
